.header-container {
    -fx-background-color: #111827;
    -fx-padding: 15;
}

.header-title {
    -fx-text-fill: white;
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.header-link {
    -fx-background-color: #1e293b;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

#userStatusLabel {
    -fx-text-fill: white;
    -fx-font-size: 15;
}

#logoutButton {
    -fx-background-color: #dc2626;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}