.fs-20 {
    -fx-font-size: 16px;
}

* {
    -fx-text-fill: #34495e;
}

/*.login-container {*/
/*    -fx-background-color: #34495e;*/
/*}*/

.login-logo {
    -fx-font-weight: bold;
    -fx-font-size: 48px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.login-header {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.login-form {
    -fx-padding: 60px 180px 20px 180px;
    -fx-background-radius: 16px;
    -fx-background-color: white;
    -fx-border-radius: 16px;
}

.login-input {
    -fx-font-size: 16px;
    -fx-padding: 16px;
    -fx-background-radius: 6px;
}

.login-button {
    -fx-font-size: 16px;
    -fx-padding: 16px;
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-pref-width: 200px;
}

.login-button:hover {
    -fx-background-color: #233445;
}

.login-error {
    -fx-font-size: 16px;
    -fx-text-fill: red;
}


